<div class="span4">
    <div class="row">
        <div class="span4" style="text-align: center;font-weight: bold">
            <br>
            {{alertDialog.message}}
            <br>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="span4" style="text-align: center">
            <button type="button" class="btn btn-small" ng-show="true" ng-click="alertDialog.okClick()">확인</button>
            <button type="button" class="btn btn-small" ng-show="true" ng-click="alertDialog.cancelClick()">취소</button>
        </div>
    </div>
</div>