    <div class="span4">
        <div class="row">
            <div class="span4" style="text-align: center;font-weight: bold">
                <br>
                {{updateDialog.message}}
                <br>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="span4" style="text-align: center">
                <button type="button" class="btn btn-small" ng-show="true" ng-click="updateDialog.okClick()">확인</button>
            </div>
        </div>
    </div>