<div class="row well">
    <div class="row">
        <div class="span12"><h5><span class="icon icon-ok"></span> 개인 출자를 희망하는 조합원 정보를 조회합니다.</h5></div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span12">
                    <form class="form-inline">
                        <label>조합원 검색조건 </label>
                        <select ui-select2="select2Options" ng-model="search.selected" data-placeholder=""
                                ng-required="true" style="width:120px;margin-bottom:2px">
                            <option ng-repeat="param in searchparams" value="{{param.value}}">{{param.text}}</option>
                        </select>
                        <input type="text" class="input-small" ng-show="searchTypeText" ng-model="search.value">
                        <input ng-model="search.value"
                               class="input-small"
                               data-date-format="yyyy/m/d" id="dateto" bs-datepicker ng-show="!searchTypeText">
                        <button class="btn btn-small" type="submit" ng-click="fnsearch()">
                            <i class="icon icon-search"></i>
                        </button>
                    </form>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="span12" style="text-align: center">
                    * 총 {{memberCnt}}건의 검색 결과가 있습니다.
                </div>
            </div>
            <!--<div class="row">-->
            <!--<div class="pull-right"><button class="btn btn-primary" ng-click="openDialog()">Open Dialog</button></div>-->
            <!--</div>-->
            <div class="row">
                <div class="span12">
                    <div class="pull-right">
                        <!--<button class="btn btn-primary" ng-click="addBtnClick()">기입하기</button>-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <div id="grid" kendo-grid k-data-source="kgdatasource" k-pageable="kgpageable" k-sortable="true"
                         k-columns="kgcolumns"
                         k-selectable="'row'" k-resizable="true" k-editable="false"
                         k-on-change="rowSelected(kendoEvent)" style="height: 380px"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div kendo-window="permitDialog.dialog" k-title="'권한설정'" k-visible="false" k-modal="true">
    <div ng-include="permitDialog.url"></div>
</div>
