<div class="row well">
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span10"><h5><span class="icon icon-ok"></span> 수입/지출결의서 등록</h5>
                </div>
                <div class="span2">

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span10 offset1">
            <div class="row">
                <div class="pull-right">
                    <div class="btn-group">
                        <button class="btn btn-default btn-small" ng-click="print()">&nbsp;&nbsp;&nbsp;출력&nbsp;&nbsp;&nbsp;</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span2">
                    종류
                </div>
                <div class="span4 btn-group" ng-model="data.type" bs-buttons-radio>
                    <button type="button" class="btn" value="지출결의서">지출결의서</button>
                    <button type="button" class="btn" value="수입결의서">수입결의서</button>
                </div>
            </div>
            <div class="row">
                <div class="span2">
                    결의서번호
                </div>
                <div class="span8">
                    <input type="text" class="input-large" ng-model="data.docno"/>
                </div>
            </div>
            <div class="row">
                <div class="span2">
                    목적
                </div>
                <div class="span8">
                    <input type="text" class="input-large" ng-model="data.purpose"/>
                </div>
            </div>
            <div class="row">
                <div class="span2">
                    발의
                </div>
                <div class="span3">
                    <form class="form-inline">
                        <div class="input-append">
                            <input type="text" ng-model="data.date1"
                                   class="input-small"
                                   data-date-format="yyyy/m/d" bs-datepicker>
                            <button type="button" class="btn btn-info btn-medium" data-toggle="datepicker">
                                <i class="icon-calendar"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="span2">
                    결재
                </div>
                <div class="span3">
                    <form class="form-inline">
                        <div class="input-append">
                            <input type="text" ng-model="data.date2"
                                   class="input-small"
                                   data-date-format="yyyy/m/d" bs-datepicker>
                            <button type="button" class="btn btn-info btn-medium" data-toggle="datepicker">
                                <i class="icon-calendar"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="span2">
                    출납
                </div>
                <div class="span3">
                    <form class="form-inline">
                        <div class="input-append">
                            <input type="text" ng-model="data.date3"
                                   class="input-small"
                                   data-date-format="yyyy/m/d" bs-datepicker>
                            <button type="button" class="btn btn-info btn-medium" data-toggle="datepicker">
                                <i class="icon-calendar"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="span2">
                    등기
                </div>
                <div class="span3">
                    <form class="form-inline">
                        <div class="input-append">
                            <input type="text" ng-model="data.date4"
                                   class="input-small"
                                   data-date-format="yyyy/m/d" bs-datepicker>
                            <button type="button" class="btn btn-info btn-medium" data-toggle="datepicker">
                                <i class="icon-calendar"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="span2">
                    사업
                </div>
                <div class="span8">
                    <input type="text" class="input-large" ng-model="data.business"/>
                </div>
            </div>
            <div class="row">
                <div class="span2">
                    항
                </div>
                <div class="span8">
                    <input type="text" class="input-large" ng-model="data.subject"/>
                </div>
            </div>
            <div class="row">
                <div class="span2">
                    목
                </div>
                <div class="span8">
                    <input type="text" class="input-large" ng-model="data.content"/>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="span2">
                    <p>
                        비고<br>
                    </p>
                </div>
                <div class="span8">
                    <textarea rows="3" class="span8" ng-model="data.note"></textarea>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="span10">
                    <div class="row">
                        <div class="btn-group span2">
                            <button class="btn btn-small" ng-click="addRow()"><i class="icon icon-plus"></i></button>
                            <button class="btn btn-small" ng-click="deleteRow()"><i class="icon icon-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="gridStyle" ng-grid="gridOptions" style="height: 180px"></div>
                </div>
            </div>
        </div>
    </div>
</div>
