<div class="row">
    <div class="span12">
    <div class="signin">
        <div class="signin-header" style="margin-bottom: 15px;">
            <h3 class="form-signin-heading">안녕하세요!</h3>

            <h3 class="form-signin-heading">자활공제협동조합 조회페이지에 오신 것을 환영합니다.</h3>
        </div>
        <div class="row well">
            <div style="width:650px">
            <img src="assets/autho.png" class="img-rounded" style="float: left;margin:10px;width:180px;height:180px">
            <p>
                <br>
                <br>
                <br>
                <br>
                <br>
            자활공제협동조합의 조합원 이신가요?<br>
            로그인 하시면 본인의 출자현황 및 대출현황을 조회하실 수 있습니다.<br>
            지역담당 및 연합회 실무자의 경우, 배정된 업무를 진행하실 수 있습니다.
            </p>
            <div style="clear: both"></div>
            <hr>
            <form class="form-horizontal" name="loginform" novalidate>
                <div class="control-group">
                    <label class="control-label" for="inputId">개인고유번호입력</label>
                    <div class="controls">
                        <input type="text" id="inputId" placeholder="아이디" ng-model="pid" autofocus ng-click="section(1)" required>
                        <div style="color: #808080;margin:5px;" ng-show="is(1)" ng-animate="slide">
                            개인고유번호는, 각 지역자활공제협동조합에 가입 시 개인별로 부여되어 있습니다.
                            개인고유번호를 잊으신 경우,
                            지역담당실무자에게 문의하시기 바랍니다.
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPw">비밀번호입력</label>
                    <div class="controls">
                        <input type="password" id="inputPw" placeholder="비밀번호" ng-model="password" ng-click="section(2)" required>

                        <div style="color: #808080;margin:5px;" ng-show="is(2)" ng-animate="slide">
                            비밀번호는, 각 지역자활공제협동조합에
                            가입 시 개인고유번호와 함께 설정되어 있습니다.
                            비밀번호를 잊으신 경우,  지역담당실무자에게
                            본인확인절차를 받으신 후 재교부 받으시기 바랍니다.
                            이후 개인별 화면에서 비밀번호 변경이 가능합니다
                        </div>
                    </div>
                </div>
                <!--<div class="control-group">-->
                    <!--<div class="controls">-->
                        <!--<label class="checkbox">-->
                            <!--<input type="checkbox"> 아이디 기억하기-->
                        <!--</label>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="alert error" bs-alert="alert" style="text-align:center;margin-left:30px" ng-show="alert.visible"></div>
                <div class="alert info" bs-alert="success" style="text-align:center;margin-left:30px" ng-show="success.visible"></div>
                <div style="text-align: center">
                    <button class="btn btn-primary" id="submitLogin" type="submit" ng-click="submitLogin()" ng-disabled="loginform.$invalid">&nbsp;&nbsp;&nbsp;&nbsp;로그인&nbsp;&nbsp;&nbsp;&nbsp;</button>
                </div>
            </form>
            </div>

        </div>
        <div class="pull-right">Version {{ver}}</div>
    </div>
    </div>
</div>
