<div class="row well">
    <div class="row">
        <div class="span12"><h5><span class="icon icon-ok"></span> 개인 출자를 희망하는 조합원 정보를 조회합니다.</h5></div>
    </div>
    <div class="row">
        <div class="span10 offset1">
            <div class="row">
                <div class="span10">
                    <form class="form-inline">
                        <label>조합원 검색조건 </label>
                        <select ui-select2="select2Options" ng-model="search.selected" data-placeholder=""
                                ng-required="true" style="width:120px;margin-bottom:2px">
                            <option ng-repeat="param in searchparams" value="{{param.value}}">{{param.text}}</option>
                        </select>
                        <input type="text" class="input-small" ng-show="searchTypeText" ng-model="search.value">
                        <input ng-model="search.value"
                               class="input-small"
                               data-date-format="yyyy/m/d" id="dateto" bs-datepicker ng-show="!searchTypeText">
                        <button class="btn btn-small" type="submit" ng-click="fnsearch()">
                            <i class="icon icon-search"></i>
                        </button>
                    </form>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="span10" style="text-align: center">
                    * 총 {{memberCnt}}건의 검색 결과가 있습니다.
                </div>
            </div>
            <!--<div class="row">-->
            <!--<div class="pull-right">-->
            <!--<button class="btn btn-primary" bs-modal="views/dialog/test.html">Open Dialog</button>-->
            <!--<button type="button" class="btn btn-large" ng-click="viaService()">With $modal service</button>-->
            <!--</div>-->
            <!--</div>-->
            <div class="row">
                <div class="span10">
                    <div id="grid" kendo-grid k-data-source="kgdatasource" k-pageable="kgpageable" k-sortable="true"
                         k-columns="kgcolumns"
                         k-selectable="'row'" k-resizable="true" k-editable="false"
                         k-on-change="rowSelected(kendoEvent)" style="height: 380px"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div kendo-window="modalPerson" k-title="'상세정보'" k-visible="false" k-modal="true">
    <div ng-include="dialog.memberdetail.url"></div>
</div>
<div kendo-window="modalBan" k-title="'탈퇴신청'" k-visible="false" k-modal="true">
    <div ng-include="dialog.memberdel.url"></div>
</div>

