<div class="row well">
    <div class="row">
        <div class="span12"><h5><span class="icon icon-ok"></span> {{ZoneName}}지역 공동구매 목록 보기</h5></div>
    </div>
    <div class="row">
        <div class="span10 offset1">
            <button class="btn pull-right" ng-click="addBtnClick()"><i class="icon-plus"></i>추가</button>
            <div class="row">
                <div class="span10">
                    <div id="grid" kendo-grid k-data-source="kgdatasource" k-pageable="kgpageable" k-sortable="true"
                         k-columns="kgcolumns"
                         k-selectable="'row'" k-resizable="true" k-editable="false"
                         k-on-change="rowSelected(kendoEvent)" style="height: 380px"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div kendo-window="buyDialog.dialog" k-title="'공동구매'" k-visible="false" k-modal="true">
    <div ng-include="buyDialog.url"></div>
</div>
