<div class="row well">
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span10"><h5><span class="icon icon-ok"></span> ㅇㅇ지역 공동구매 기입하기</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span10 offset1">
            <div class="row">
                <div class="span2">
                    공동구매 제목
                </div>
                <div class="span8">
                    <input type="text" class="input-xlarge">
                </div>
            </div>
            <div class="row">
                <div class="span2">
                    게시일자
                </div>
                <div class="span8">
                    <div class="input-append">
                        <input ng-model="regdate"
                               class="input-small"
                               data-date-format="yyyy/m/d" bs-datepicker>
                        <button type="button" class="btn btn-default btn-small" data-toggle="datepicker">
                            <i class="icon icon-calendar"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span2">
                    마감일자
                </div>
                <div class="span8">
                    <div class="input-append">
                        <input ng-model="regdate"
                               class="input-small"
                               data-date-format="yyyy/m/d" bs-datepicker>
                        <button type="button" class="btn btn-default btn-small" data-toggle="datepicker">
                            <i class="icon icon-calendar"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span2">
                    총 판매량
                </div>
                <div class="span8">
                    <input type="text" class="input-xlarge">
                </div>
            </div>
            <div class="row">
                <div class="span2">
                    판매금액
                </div>
                <div class="span8">
                    <input type="text" class="input-xlarge">
                </div>
            </div>
            <div class="row">
                <div class="span11">
                    <div class="pull-right">
                        <button class="btn">&nbsp;&nbsp;&nbsp;저장&nbsp;&nbsp;&nbsp;</button>
                        <button class="btn">&nbsp;&nbsp;&nbsp;취소&nbsp;&nbsp;&nbsp;</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
