<div class="row">
    <div style="text-align: center">
        <div class="span2 panel panel-default" style="width:140px">
            <div class="panel-heading">총 조합원수</div>
            <div class="panel-body">{{dashboard.memberall}}</div>
        </div>
        <div class="span2 panel panel-default" style="width:140px">
            <div class="panel-heading">신입조합원수</div>
            <div class="panel-body">{{dashboard.membernew}}</div>
        </div>
        <div class="span2 panel panel-default" style="width:140px">
            <div class="panel-heading">탈퇴 조합원수</div>
            <div class="panel-body">{{dashboard.memberban}}</div>
        </div>
        <div class="span2 panel panel-default" style="width:140px">
            <div class="panel-heading">총 출자금</div>
            <div class="panel-body">{{dashboard.fundall | nfcurrency}}</div>
        </div>
        <div class="span2 panel panel-default" style="width:140px">
            <div class="panel-heading">탈퇴금</div>
            <div class="panel-body">{{dashboard.fundbanall | nfcurrency}}</div>
        </div>
        <div class="span2 panel panel-default" style="width:140px">
            <div class="panel-heading">총 대출금</div>
            <div class="panel-body">{{dashboard.loanall | nfcurrency}}</div>
        </div>
        <div class="span2 panel panel-default" style="width:140px">
            <div class="panel-heading">총 대출상환금</div>
            <div class="panel-body">{{dashboard.repayall | nfcurrency}}</div>
        </div>
    </div>
</div>