<div class="row">
    <div class="span9">
        <img src="assets/top.png" class="img-rounded" style="width:305px;height:38px;margin:-5px 0px 10px 0px;">
    </div>
    <div class="span3">
        <div class="pull-right">
            <form class="form-search">
                <div class="input-append">
                    <input type="text" class="input-medium search-query">
                    <button type="submit" class="btn"><i class="icon icon-search"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>