<div class="row">
    <div class="span2"><i class="icon icon-chevron-right"></i><div class="pull-right">개인정보보기</div></div>
    <div class="span8">
        <a href="#/userView"><span class="label">개인정보보기</span></a>
        <hr>
    </div>
</div>
<div class="row">
    <div class="span2"><i class="icon icon-chevron-right"></i><div class="pull-right">출자금보기</div></div>
    <div class="span8">
        <a href="#/userInvestStatus"><span class="label">출자금보기</span></a>
        <hr>
    </div>
</div>
<div class="row">
    <div class="span2"><i class="icon icon-chevron-right"></i><div class="pull-right">대출금보기</div></div>
    <div class="span8">
        <a href="#/userLoanStatus"><span class="label">대출금보기</span></a>
        <hr>
    </div>
</div>