<div class="row">
    <div class="span2"><i class="icon icon-chevron-right"></i><div class="pull-right">조합원</div></div>
    <div class="span8">
        <a href="#/memberSearch"><span class="label">총계/누계 조회</span></a>&nbsp;&nbsp;
        <a href="#/memberAdd"><span class="label">신규 조합원 등록</span></a>&nbsp;&nbsp;
        <a href="#/memberStatus"><span class="label">조합원 정보 조회</span></a>
        <hr>
    </div>
</div>
<div class="row">
    <div class="span2"><i class="icon icon-chevron-right"></i><div class="pull-right">출자금</div></div>
    <div class="span8">
        <a href="#/investSearch"><span class="label">총계/누계 조회</span></a>&nbsp;&nbsp;
        <a href="#/investAdd"><span class="label">개인출자신청 기입</span></a>&nbsp;&nbsp;
        <a href="#/investStatus"><span class="label">개인출자신청 조회</span></a>
        <hr>
    </div>
</div>
<div class="row">
    <div class="span2"><i class="icon icon-chevron-right"></i><div class="pull-right">대출금</div></div>
    <div class="span8">
        <a href="#/loanSearch"><span class="label">총계/누계 조회</span></a>&nbsp;&nbsp;
        <a href="#/loanAdd"><span class="label">개인대출신청 기입</span></a>&nbsp;&nbsp;
        <a href="#/loanStatus"><span class="label">개인대출현황 조회</span></a>
        <hr>
    </div>
</div>
<div class="row">
    <div class="span2"><i class="icon icon-chevron-right"></i><div class="pull-right">관리자설정</div></div>
    <div class="span8">
        <a href="#/adminLocal"><span class="label">우리지역 관련설정</span></a>&nbsp;&nbsp;
        <a href="#/adminPermit"><span class="label">조합원 권한설정</span></a>
        <hr>
    </div>
</div>